### Project 3

In [41]:
import pandas as pd
import numpy as np

### Reading File

In [42]:
file = pd.read_csv('Potential Talents.csv')
file.head()

,id,job_title,location,connection,fit
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN

In [43]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          104 non-null    int64
 1   job_title   104 non-null    object
 2   location    104 non-null    object
 3   connection  104 non-null    object
 4   fit         0 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.2+ KB

Looks like a sentiment analysis machine can predict fitness by taking in job_title text and predicting fitness based on keywords criteria.

In [44]:
import nltk
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize

### Example Code Below to Calculate Cosine Simmilarity Between Two Sentences Eliminating Stop Words

In [45]:
X ="I love horror movies"
Y ="Lights out is a horror movie"

In [46]:
# X = input("Enter first string: ").lower() 
# Y = input("Enter second string: ").lower() 
X ="I love horror movies"
Y ="Lights out is a horror movie"
  
# tokenization 
X_list = word_tokenize(X)  
Y_list = word_tokenize(Y) 
  
# sw contains the list of stopwords 
sw = stopwords.words('english')  
l1 =[];l2 =[] 
  
# remove stop words from the string 
X_set = {w for w in X_list if not w in sw}  
Y_set = {w for w in Y_list if not w in sw} 
  
# form a set containing keywords of both strings  
rvector = X_set.union(Y_set)  
for w in rvector: 
    if w in X_set: l1.append(1) # create a vector 
    else: l1.append(0) 
    if w in Y_set: l2.append(1) 
    else: l2.append(0) 
c = 0
  
# cosine formula  
for i in range(len(rvector)): 
        c+= l1[i]*l2[i] 
cosine = c / float((sum(l1)*sum(l2))**0.5) 
print("similarity: ", cosine)

similarity:  0.2886751345948129

### Application of Above Code To entries in file compared with a search phrase as b

In [47]:
a = file.iloc[0, 1]

In [48]:
a

'2019 C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional'

In [49]:
b = "Aspiring Human Resources"

In [50]:
# tokenization 
X_list = word_tokenize(a)  
Y_list = word_tokenize(b) 
  
# sw contains the list of stopwords 
sw = stopwords.words('english')  
l1 =[];l2 =[] 
  
# remove stop words from the string 
X_set = {w for w in X_list if not w in sw}  
Y_set = {w for w in Y_list if not w in sw} 
  
# form a set containing keywords of both strings  
rvector = X_set.union(Y_set)  
for w in rvector: 
    if w in X_set: l1.append(1) # create a vector 
    else: l1.append(0) 
    if w in Y_set: l2.append(1) 
    else: l2.append(0) 
c = 0
  
# cosine formula  
for i in range(len(rvector)): 
        c+= l1[i]*l2[i] 
cosine = c / float((sum(l1)*sum(l2))**0.5) 
print("similarity: ", cosine)

similarity:  0.2886751345948129

In [51]:
rvector

{'(',
 ')',
 '.',
 '2019',
 'Aspiring',
 'Bauer',
 'Business',
 'C.T',
 'College',
 'Cum',
 'Graduate',
 'Human',
 'Laude',
 'Magna',
 'Resources',
 'aspiring',
 'professional'}

In [52]:
c = file.iloc[2, 1]

In [53]:
c

'Aspiring Human Resources Professional'

In [54]:
# tokenization 
X_list = word_tokenize(c)  
Y_list = word_tokenize(b) 
  
# sw contains the list of stopwords 
sw = stopwords.words('english')  
l1 =[];l2 =[] 
  
# remove stop words from the string 
X_set = {w for w in X_list if not w in sw}  
Y_set = {w for w in Y_list if not w in sw} 
  
# form a set containing keywords of both strings  
rvector = X_set.union(Y_set)  
for w in rvector: 
    if w in X_set: l1.append(1) # create a vector 
    else: l1.append(0) 
    if w in Y_set: l2.append(1) 
    else: l2.append(0) 
c = 0
  
# cosine formula  
for i in range(len(rvector)): 
        c+= l1[i]*l2[i] 
fraction_of_words_captured = c / len(Y_set) 
print("similarity: ", fraction_of_words_captured)

similarity:  1.0

### Cosine similarity good at identifying how simmilar one set of tokenized words are in another set.  If one set is smaller than the other and a complete subset, the cosine simmilarity is not 1.  Is it adequate to assign a cosine simmilarity score to the fit column?

Instead of using cosine similarity, use a fraction of words matched in input sentence and search sentence.  The higher the fraction, the higher the rank.

In [55]:
fraction = []
for z in file['job_title']:
    search = "Aspiring Human Resources"
# tokenization 
    X_list = word_tokenize(z)  
    Y_list = word_tokenize(search) 
  
    # sw contains the list of stopwords 
    sw = stopwords.words('english')  
    l1 =[];l2 =[] 
  
    # remove stop words from the string 
    X_set = {w for w in X_list if not w in sw}  
    Y_set = {w for w in Y_list if not w in sw} 
  
    # form a set containing keywords of both strings  
    rvector = X_set.union(Y_set)  
    for w in rvector: 
        if w in X_set: l1.append(1) # create a vector 
        else: l1.append(0) 
        if w in Y_set: l2.append(1) 
        else: l2.append(0) 
    c = 0
  
    # Word fraction nformula  
    for i in range(len(rvector)): 
            c+= l1[i]*l2[i] 
    fraction_of_words_captured = c / len(Y_set)
    fraction.append(fraction_of_words_captured)
file['fraction_of_words'] = fraction
file.head()

,id,job_title,location,connection,fit,fraction_of_words
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,0.666667
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN,0.000000
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,1.000000
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN,0.000000
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN,0.000000

In [56]:
cosine_sim = []
for z in file['job_title']:
    search = "Aspiring Human Resources"
# tokenization 
    X_list = word_tokenize(z)  
    Y_list = word_tokenize(search) 
  
    # sw contains the list of stopwords 
    sw = stopwords.words('english')  
    l1 =[];l2 =[] 
  
    # remove stop words from the string 
    X_set = {w for w in X_list if not w in sw}  
    Y_set = {w for w in Y_list if not w in sw} 
  
    # form a set containing keywords of both strings  
    rvector = X_set.union(Y_set)  
    for w in rvector: 
        if w in X_set: l1.append(1) # create a vector 
        else: l1.append(0) 
        if w in Y_set: l2.append(1) 
        else: l2.append(0) 
    c = 0
  
    # Word fraction nformula  
    for i in range(len(rvector)): 
        c+= l1[i]*l2[i] 
    cosine = c / float((sum(l1)*sum(l2))**0.5) 
    cosine_sim.append(cosine)
file['cosine_sim'] = cosine_sim
file.head()

,id,job_title,location,connection,fit,fraction_of_words,cosine_sim
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,0.666667,0.288675
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN,0.000000,0.000000
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,1.000000,0.866025
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN,0.000000,0.000000
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN,0.000000,0.000000

In [57]:
file['fit'] = (file['fraction_of_words'] + file['cosine_sim'])/2
file.head() # As of right now, the fit is calculated as the product of word fraction simmilarity and cosine simmilarity.

,id,job_title,location,connection,fit,fraction_of_words,cosine_sim
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,0.477671,0.666667,0.288675
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,0.000000,0.000000,0.000000
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.933013,1.000000,0.866025
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,0.000000,0.000000,0.000000
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,0.000000,0.000000,0.000000

In [58]:
file = file.sort_values('fit', ascending=False)
file.head(20)

,id,job_title,location,connection,fit,fraction_of_words,cosine_sim
20,21,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.933013,1.0,0.866025
57,58,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.933013,1.0,0.866025
23,24,Aspiring Human Resources Specialist,Greater New York City Area,1,0.933013,1.0,0.866025
32,33,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.933013,1.0,0.866025
48,49,Aspiring Human Resources Specialist,Greater New York City Area,1,0.933013,1.0,0.866025
16,17,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.933013,1.0,0.866025
35,36,Aspiring Human Resources Specialist,Greater New York City Area,1,0.933013,1.0,0.866025
59,60,Aspiring Human Resources Specialist,Greater New York City Area,1,0.933013,1.0,0.866025
96,97,Aspiring Human Resources Professional,"Kokomo, Indiana Area",71,0.933013,1.0,0.866025
45,46,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.933013,1.0,0.866025
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.933013,1.0,0.866025
5,6,Aspiring Human Resources Specialist,Greater New York City Area,1,0.933013,1.0,0.866025
8,9,Student at Humber College and Aspiring Human R...,Kanada,61,0.827327,1.0,0.654654
51,52,Student at Humber College and Aspiring Human R...,Kanada,61,0.827327,1.0,0.654654
26,27,Aspiring Human Resources Management student se...,"Houston, Texas Area",500+,0.827327,1.0,0.654654
24,25,Student at Humber College and Aspiring Human R...,Kanada,61,0.827327,1.0,0.654654
38,39,Student at Humber College and Aspiring Human R...,Kanada,61,0.827327,1.0,0.654654
71,72,Business Management Major and Aspiring Human R...,"Monroe, Louisiana Area",5,0.827327,1.0,0.654654
28,29,Aspiring Human Resources Management student se...,"Houston, Texas Area",500+,0.827327,1.0,0.654654
49,50,Student at Humber College and Aspiring Human R...,Kanada,61,0.827327,1.0,0.654654

In [59]:
file['connection'].replace('500+', '501', inplace=True)
file['connection'].replace('500+ ', '501', inplace=True)
file['connection'] = file['connection'].astype('float64')

In [60]:
file.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104 entries, 20 to 103
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 104 non-null    int64
 1   job_title          104 non-null    object
 2   location           104 non-null    object
 3   connection         104 non-null    float64
 4   fit                104 non-null    float64
 5   fraction_of_words  104 non-null    float64
 6   cosine_sim         104 non-null    float64
dtypes: float64(4), int64(1), object(2)
memory usage: 6.5+ KB

In [61]:
file['connection_score'] = file['connection']/501
file.head()

,id,job_title,location,connection,fit,fraction_of_words,cosine_sim,connection_score
20,21,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44.0,0.933013,1.0,0.866025,0.087824
57,58,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44.0,0.933013,1.0,0.866025,0.087824
23,24,Aspiring Human Resources Specialist,Greater New York City Area,1.0,0.933013,1.0,0.866025,0.001996
32,33,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44.0,0.933013,1.0,0.866025,0.087824
48,49,Aspiring Human Resources Specialist,Greater New York City Area,1.0,0.933013,1.0,0.866025,0.001996

In [62]:
file['fitness'] = ((file['fit'])*0.80) + (file['connection_score']*0.20)
file.head()

,id,job_title,location,connection,fit,fraction_of_words,cosine_sim,connection_score,fitness
20,21,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44.0,0.933013,1.0,0.866025,0.087824,0.763975
57,58,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44.0,0.933013,1.0,0.866025,0.087824,0.763975
23,24,Aspiring Human Resources Specialist,Greater New York City Area,1.0,0.933013,1.0,0.866025,0.001996,0.746809
32,33,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44.0,0.933013,1.0,0.866025,0.087824,0.763975
48,49,Aspiring Human Resources Specialist,Greater New York City Area,1.0,0.933013,1.0,0.866025,0.001996,0.746809

In [63]:
file = file[['id', 'job_title', 'location', 'connection', 'fitness']]
file.head(20)

,id,job_title,location,connection,fitness
20,21,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44.0,0.763975
57,58,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44.0,0.763975
23,24,Aspiring Human Resources Specialist,Greater New York City Area,1.0,0.746809
32,33,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44.0,0.763975
48,49,Aspiring Human Resources Specialist,Greater New York City Area,1.0,0.746809
16,17,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44.0,0.763975
35,36,Aspiring Human Resources Specialist,Greater New York City Area,1.0,0.746809
59,60,Aspiring Human Resources Specialist,Greater New York City Area,1.0,0.746809
96,97,Aspiring Human Resources Professional,"Kokomo, Indiana Area",71.0,0.774753
45,46,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44.0,0.763975
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44.0,0.763975
5,6,Aspiring Human Resources Specialist,Greater New York City Area,1.0,0.746809
8,9,Student at Humber College and Aspiring Human R...,Kanada,61.0,0.686213
51,52,Student at Humber College and Aspiring Human R...,Kanada,61.0,0.686213
26,27,Aspiring Human Resources Management student se...,"Houston, Texas Area",501.0,0.861861
24,25,Student at Humber College and Aspiring Human R...,Kanada,61.0,0.686213
38,39,Student at Humber College and Aspiring Human R...,Kanada,61.0,0.686213
71,72,Business Management Major and Aspiring Human R...,"Monroe, Louisiana Area",5.0,0.663857
28,29,Aspiring Human Resources Management student se...,"Houston, Texas Area",501.0,0.861861
49,50,Student at Humber College and Aspiring Human R...,Kanada,61.0,0.686213

In [64]:
file = file.sort_values('fitness', ascending=False)
file.head(20)

,id,job_title,location,connection,fitness
28,29,Aspiring Human Resources Management student se...,"Houston, Texas Area",501.0,0.861861
26,27,Aspiring Human Resources Management student se...,"Houston, Texas Area",501.0,0.861861
96,97,Aspiring Human Resources Professional,"Kokomo, Indiana Area",71.0,0.774753
57,58,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44.0,0.763975
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44.0,0.763975
20,21,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44.0,0.763975
16,17,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44.0,0.763975
32,33,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44.0,0.763975
45,46,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44.0,0.763975
35,36,Aspiring Human Resources Specialist,Greater New York City Area,1.0,0.746809
59,60,Aspiring Human Resources Specialist,Greater New York City Area,1.0,0.746809
48,49,Aspiring Human Resources Specialist,Greater New York City Area,1.0,0.746809
5,6,Aspiring Human Resources Specialist,Greater New York City Area,1.0,0.746809
23,24,Aspiring Human Resources Specialist,Greater New York City Area,1.0,0.746809
81,82,Aspiring Human Resources Professional | An ene...,"Austin, Texas Area",174.0,0.700401
100,101,Human Resources Generalist at Loparex,"Raleigh-Durham, North Carolina Area",501.0,0.697607
67,68,Human Resources Specialist at Luxottica,Greater New York City Area,501.0,0.697607
6,7,Student at Humber College and Aspiring Human R...,Kanada,61.0,0.686213
36,37,Student at Humber College and Aspiring Human R...,Kanada,61.0,0.686213
49,50,Student at Humber College and Aspiring Human R...,Kanada,61.0,0.686213

In [65]:
# LLM model to create fitness score.
# from sentence_transformers import SentenceTransformer - model to predict fitness score.
# Take the above table as a training data to predict fitness score.

### Creating a LLM model to predict fitness based on Tfidf Vectorization and Linear Regression

In [66]:
import string
def clean_text(text):
    text = text.lower()
    text = ''.join([char for char in text if char not in string.punctuation])
    return text

In [67]:
import nltk
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\mwalu\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

### Initiating a stemmer and lemmatizer

In [68]:
stemmer = PorterStemmer()
lemmatizer = WordNetLemmatizer()

In [69]:
def stem_text(text):
    return ' '.join([stemmer.stem(word) for word in text.split()])
def lemmatize_text(text):
    return ' '.join([lemmatizer.lemmatize(word) for word in text.split()])

In [70]:
file['cleaned_text'] = file['job_title'].apply(lambda x: clean_text(x))

In [71]:
file['stemmed_text'] = file['cleaned_text'].apply(lambda x: stem_text(x))
file['lemmatized_text'] = file['stemmed_text'].apply(lambda x: lemmatize_text(x))

### Splitting up the data into training and test set

In [72]:
from sklearn.model_selection import train_test_split

In [73]:
X_train, X_test, y_train, y_test = train_test_split(file['lemmatized_text'], file['fitness'], test_size = 0.2, random_state=42)

In [74]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline

### Composing LLM Model

In [75]:
model = Pipeline([('tfidf', TfidfVectorizer()), ('clf', LinearRegression())]) # Pipeline composed of two main processes.

In [76]:
model.fit(X_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', LinearRegression())])

In [77]:
y_pred = model.predict(X_test)

### Creating a dataframe showing y_pred and y_test

In [78]:
dataframe = pd.DataFrame(X_test)
dataframe['y_pred'] = y_pred
dataframe['y_test'] = y_test
dataframe

                                       lemmatized_text    y_pred    y_test
42   human resourc coordin at intercontinent buckhe...  0.655228  0.655228
47        advisori board member at celal bayar univers  0.200000  0.200000
60                                hr senior specialist  0.200000  0.200000
14   2019 ct bauer colleg of busi graduat magna cum...  0.416069  0.416069
93   seek human resourc opportun open to travel and...  0.587035  0.595635
101                 busi intellig and analyt at travel  0.299864  0.019561
94                  student at westfield state univers  0.128822  0.022754
73                            human resourc profession  0.723962  0.539721
59                      aspir human resourc specialist  0.746809  0.746809
28   aspir human resourc manag student seek an inte...  0.861861  0.861861
36   student at humber colleg and aspir human resou...  0.686213  0.686213
61         seek human resourc hri and generalist posit  0.655228  0.655228
82             hr manag at endemol shine north america  0.318078  0.106986
90              lead offici at western illinoi univers  0.001142  0.015569
19   nativ english teacher at epik english program ...  0.200000  0.200000
2                       aspir human resourc profession  0.765771  0.763975
11   svp chro market commun csr offic engi houston ...  0.200000  0.200000
55   human resourc coordin at intercontinent buckhe...  0.655228  0.655228
5                       aspir human resourc specialist  0.746809  0.746809
71      busi manag major and aspir human resourc manag  0.463112  0.663857
97                                             student  0.395974  0.001597

### Error analysis

In [79]:
from sklearn.metrics import mean_squared_error

In [80]:
mean_squared_error(y_pred, y_test) # Mean Squared Error for the testing dataset.

0.017354392227578425